<mat-toolbar class="shadow-2">
  <img alt="logo" class="mr-2" src="https://www.europ-assistance.pl/sites/all/themes/ea_ebiz/logo.png" height="50">
  <h2 class="flex-1 flex justify-content-center">WebRTC - ClickToCall</h2>
</mat-toolbar>
<video #remote_video id="remote_video" playsinline autoplay style="display: none"></video>
<div class="flex justify-content-center align-items-center" style="height: calc(100vh - var(--mat-toolbar-standard-height))">

  <mat-card class="customCard">
    <mat-card-header class="justify-content-center">
      <img alt="logo" mat-card-image class="m-3" src="https://www.europ-assistance.pl/sites/all/themes/ea_ebiz/logo.png">
    </mat-card-header>
    <mat-card-content class="h-full" *ngIf="webrtcSvc.connecting | async">
      <div class="h-full flex justify-content-center align-items-center p-5" style="min-height: 175px">
        <mat-progress-spinner [diameter]="50"
                              color="primary"
                              mode="indeterminate">
        </mat-progress-spinner>
      </div>
    </mat-card-content>
    <mat-card-content class="h-full" *ngIf="!(webrtcSvc.connecting | async)">

      <div class="h-full flex flex-column justify-content-center align-items-center p-5" style="min-height: 175px">

        <ng-container *ngIf="!(webrtcSvc.activeCall | async)">

          <button mat-raised-button color="primary" (click)="startCall()" [disabled]="!(webrtcSvc.connected | async)">
            Zadzwoń
            <mat-icon>phone</mat-icon>
          </button>
        </ng-container>

        <ng-container [ngSwitch]="webrtcSvc.callStatus | async" *ngIf="(webrtcSvc.activeCall | async)">

          <ng-container *ngSwitchCase="'Connected'" [ngTemplateOutlet]="onCallTemplate"></ng-container>
          <ng-container *ngSwitchCase="'Accepted'" [ngTemplateOutlet]="onCallTemplate"></ng-container>
          <ng-container *ngSwitchCase="'Confirmed'" [ngTemplateOutlet]="onCallTemplate"></ng-container>
          <ng-container *ngSwitchCase="'Ended'" [ngTemplateOutlet]="onDisconnectTemplate"></ng-container>
          <ng-container *ngSwitchCase="'Failed'" [ngTemplateOutlet]="onDisconnectTemplate"></ng-container>
          <ng-container *ngSwitchDefault [ngTemplateOutlet]="inProgressTemplate"></ng-container>

          <ng-template #onCallTemplate>
            <h4>Connected</h4>
            <button mat-raised-button color="warn" (click)="stopCall()">
              Hang up
            </button>
          </ng-template>
          <ng-template #inProgressTemplate>
            <h4>Connecting</h4>
            <mat-progress-spinner color="primary" mode="indeterminate" [diameter]="50"></mat-progress-spinner>
          </ng-template>
          <ng-template #onDisconnectTemplate>
            <h4>{{webrtcSvc.callStatus | async}}</h4>
            <button mat-raised-button color="primary" (click)="resetCallStatus()">
              Reset
            </button>
          </ng-template>

        </ng-container>

      </div>

    </mat-card-content>
  </mat-card>
</div>


